<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>JAVA_CEC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addcar</display-name>
    <servlet-name>addcar</servlet-name>
    <servlet-class>cars.com.addcar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcar</servlet-name>
    <url-pattern>/addcar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displaycars</display-name>
    <servlet-name>displaycars</servlet-name>
    <servlet-class>cars.com.displaycars</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displaycars</servlet-name>
    <url-pattern>/displaycars</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>carDetails</display-name>
    <servlet-name>carDetails</servlet-name>
    <servlet-class>cars.com.carDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carDetails</servlet-name>
    <url-pattern>/carDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>cars.com.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatedetails</display-name>
    <servlet-name>updatedetails</servlet-name>
    <servlet-class>cars.com.updatedetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatedetails</servlet-name>
    <url-pattern>/updatedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updated</display-name>
    <servlet-name>updated</servlet-name>
    <servlet-class>cars.com.updated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updated</servlet-name>
    <url-pattern>/updated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecar</display-name>
    <servlet-name>deletecar</servlet-name>
    <servlet-class>cars.com.deletecar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecar</servlet-name>
    <url-pattern>/deletecar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletewholecar</display-name>
    <servlet-name>deletewholecar</servlet-name>
    <servlet-class>cars.com.deletewholecar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletewholecar</servlet-name>
    <url-pattern>/deletewholecar</url-pattern>
  </servlet-mapping>
</web-app>